<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>いつかはハタチ|設定</title>
    <link rel="stylesheet" href="4style.css">
</head>
<body>
    <header>
        <div class="container">
          <div class="header-left">
            <h1>いつかはハタチ</h1>    
          </div>
    
        </div>
        <div class="header-right">
          <a href="#" class="shinki-icon">新規登録</a>
          <a href="#" class="settei-icon">設定</a>
        </div>
        <div class="first-kensaku">
            <form id="form1" action="自分のサイトURL">
                <input id="sbox"  id="s" name="s" type="text" placeholder="講義名、教授名" />
                <input id="sbtn" type="submit" value="検索" />
            </form>
        </div>
       </header>
        <div class="settei">
          <h1>-設定-</h1>
      　</div>
      <div class="koumoku">
           <a href="#">トップページに戻る</a>
          　<a href="#">ユーザーネームの設定・変更</a>
           <a href="#">メールアドレスの設定・変更</a>
      </div>

</body>
</html>