<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>いつかはハタチ|講義概要</title>
    <link rel="stylesheet" href="7style.css">
</head>
<body>
    <header>
        <div class="container">
            <div class="header-left">
              <h1>いつかはハタチ</h1>    
            </div>
      
          </div>
          <div class="header-right">
            <a href="#" class="shinki-icon">新規登録</a>
            <a href="#" class="settei-icon">設定</a>
          </div>
          <div class="first-kensaku">
              <form id="form1" action="自分のサイトURL">
                  <input id="sbox"  id="s" name="s" type="text" placeholder="講義名、教授名" />
                  <input id="sbtn" type="submit" value="検索" />
              </form>
          </div>
    </header>
    <ul class="nav">
        <li class="has-sub">
          <a href="">講義概要</a>
        </li>
        <li class="has-sub">
          <a href="">ノート共有</a>
      
          <ul class="sub">
            <li>
              <a href="">第1~5回</a>
            </li>
            <li>
              <a href="">第6~10回</a>
            </li>
            <li>
              <a href="">第11~15回</a>
            </li>
            
          </ul>
        </li>
        <li class="has-sub">
          <a href="">レビュー</a>
        </li>
      </ul>
      <div class="kougigaiyou">
          <h1>講義概要</h1>
        </div>
        <div class="gaiyouhyou">
          <table border="1" width="70%" cellpadding="10">
            <tr>
              <td width="40%" align="center">講義名</td>
              <td width="60%" align="center">データ分析と統計</td>
            </tr>
            <tr>
              <td align="center">学部・学年配当</td>
              <td align="center">都市情報学部二年次～</td>
            </tr>
            <tr>
              <td align="center">教室名</td>
              <td align="center">DS203</td>
            </tr>
            <tr>
              <td align="center">シラバスリンク</td>
              <td align="center"><a href="#">リンク</a></td>
            </tr>
            <tr>
              <td align="center">その他</td>
              <td align="center"></td>
            </tr>
          </table>
        </div>
</body>
</html>