<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>いつかはハタチ|ノート共有</title>
    <link rel="stylesheet" href="9style.css">
    
</head>
<body>
    <header>
        <div class="container">
            <div class="header-left">
              <h1>いつかはハタチ</h1>    
            </div>
      
          </div>
          <div class="header-right">
            <a href="#" class="shinki-icon">新規登録</a>
            <a href="#" class="settei-icon">設定</a>
          </div>
          <div class="first-kensaku">
              <form id="form1" action="自分のサイトURL">
                  <input id="sbox"  id="s" name="s" type="text" placeholder="講義名、教授名" />
                  <input id="sbtn" type="submit" value="検索" />
              </form>
          </div>
    </header>
    <ul class="nav">
        <li class="has-sub">
          <a href="">講義概要</a>
        </li>
        <li class="has-sub">
          <a href="">ノート共有</a>
        </li>
        <li class="has-sub">
          <a href="">レビュー</a>
        </li>
      </ul>
      <script>
        var parent = document.querySelectorAll(".has-sub");

        var node = Array.prototype.slice.call(parent, 0);

        node.forEach(function (element) {
            element.addEventListener(
            "mouseover",
            function () {
     element.querySelector(".sub").classList.add("active");
        },
        false
     );
     element.addEventListener(
        "mouseout",
        function () {
     element.querySelector(".sub").classList.remove("active");
        },
        false
        );
    });
      </script>
      <div class="no-tokyouyuu">
          <h1>ノート共有</h1>
          <h3>講義回を選択して下さい</h3>
        </div>
        <ul>
            <li><img src="C:\Users\hayaa\OneDrive\画像\数学.jpg" alt="古田颯斗">
            <h3>古田颯斗</h3></li>
            <li><img src="C:\Users\hayaa\OneDrive\画像\数学.jpg" alt="古田颯斗">
            <h3>古田颯斗</h3></li>
            <li><img src="C:\Users\hayaa\OneDrive\画像\数学.jpg" alt="古田颯斗">
            <h3>古田颯斗</h3></li>
        </ul>
</body>
</html>