{% extends 'base.html' %}

{% block content %}
{% load static %}
{% include 'app/snippets/header.html' %}

<body>
<div class="container">
    <div class="col-xs-4 justify-content-center mx-auto mt-5">
        <form action="" method="POST" id="Review-form" enctype="multipart/form-data">
                {% csrf_token %}
            <div class="form-group mx-3 my-3 row ">
                <label for="{{form.text.id_for_label}}">本文</label>
                <textarea name="{{form.text.name}}"  id="{{form.text.id_for_label}}" class="form-control"> </textarea>
            </div>
            <div class="form-group mx-3 my-3 row ">
                <label for="{{form.test.id_for_label}}">テスト</label>
                <textarea name="{{form.test.name}}"  id="{{form.test.id_for_label}}" class="form-control"> </textarea>
            </div>
            <div class="form-group mx-3 my-3 row ">
                <label for="{{form.attendance.id_for_label}}">出席</label>
                <textarea name="{{form.attendance.name}}"  id="{{form.attendance.id_for_label}}" class="form-control"> </textarea>
            </div>
            <div class="form-group mx-3 my-3 row ">
                <label for="{{form.EasyRating.id_for_label}}">{{form.EasyRating.label}}</label>
                    {{form.EasyRating}}
            </div>
            <div class="form-group mx-3 my-3 row ">
                <label for="{{form.fullnessRating.id_for_label}}">{{form.fullnessRating.label}}</label>
                    {{form.fullnessRating}}
            </div>
            <button type="submit" class="btn btn-outline-primary mx-3 my-3">投稿する</button>
        </form>
    </div>
</div>
</body>
{% endblock %}