{% extends 'base.html' %}

{% block content %}
{% load static %}
<head>
    <title>いつかはハタチ|レビュー 一覧</title>
    <link rel="stylesheet" href="{% static '/css/10style.css' %}">
</head>
{% include 'app/snippets/header.html' %}
<body>
<div class="container-fluid">
    <ul class="navbar justify-content-center">
        <li class="has-sub mx-3">
          <a href="../">講義概要</a>
        </li>
        <li class="has-sub mx-3">
          <a href="../Note">ノート共有</a>
        </li>
        <li class="has-sub mx-3">
          <a href="">レビュー</a>
        </li>
    </ul>
</div>
<div class="d-flex align-items-center justify-content-center mt-5">
    <a role="button" href="./Post" class="btn btn-outline-primary btn-lg">レビューを投稿する</a>
</div>
<div class="container-md">
    <div class="card-deck p-4">
    {% for Review_list in Review_lists %}
        <div class="col-md-4">
            <div class="card h-100" style="width: 18rem;">
              <div class="card-body ">
                  <a href="/Profile/{{Review_list.username.0}}"><h5 class="card-title">{{Review_list.nickname.0}}</h5></a>
                  <p class="card-text">{{Review_list.created_at}}</p>
                  <p class="card-text">{{Review_list.text}}</p>
                  <p class="card-text">テスト: {{Review_list.test}}</p>
                  <p class="card-text">出席: {{Review_list.attendance}}</p>
                  <p>楽単度：<span class="card-text star5_rating" data-rate="{{Review_list.EasyRating}}"></span></p>
                  <p>充実度：<span class="card-text star5_rating" data-rate="{{Review_list.fullnessRating}}"></span></p>
                  <p class="card-text">いいね数: {{Review_list.count}}</p>
                  {% if user.is_authenticated %}
                      {% if Review_list.Like %}
                      <form method="POST" class="d-inline" action="{% url 'ReviewView' pk=Review_list.id  %}">
                          {% csrf_token %}
                          <input type="hidden" name="ClassID" value="{{Review_list.ClassID_id}}">
                          <button type="submit" class="btn btn-sm btn-outline-danger">いいね
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
                              <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
                            </svg>
                          </button>
                      </form>
                      {% else %}
                      <form method="POST" class="d-inline" action="{% url 'ReviewView' pk=Review_list.id  %}">
                          {% csrf_token %}
                          <input type="hidden" name="ClassID" value="{{Review_list.ClassID_id}}">
                          <button type="submit" class="btn btn-sm btn-outline-danger">いいね
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                              <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
                            </svg>
                          </button>
                      </form>
                      {% endif %}
                  {% endif %}
              </div>
            </div>
        </div>
    {% endfor %}
    </div>
</div>
</body>
{% endblock %}