{% extends 'base.html' %}

{% block content %}
{% load static %}
<head>
    <title>名城大学非公式アプリ|ユーザー情報の変更</title>
    <link rel="stylesheet" href="{% static '/css/6style.css' %}">
</head>
<body>
    {{ image }}
    {% include 'app/snippets/header.html' %}
    <div class="flex-column text-center">
        <h1>ユーザー情報の変更</h1>
        <div class="syousai">
            <form class="ui form" action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div>
                    {% for field in form %}
                    <h5>{{field.label_tag}} {{ field }}</h5>
                    {% endfor %}
                    <button class="btn btn-outline-primary" type="submit">保存</button>
                </div>
            </form>
        </div>
        <div class="mt-4">
            <a  href="{% url 'top-page' %}">トップページ</a>
        </div>

    </div>
</body>
{% endblock %}
