<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Animated Login Form</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

    {% if user.is_authenticated %}
    ログイン中です
    {% else %}
    ログインしていません
    {% endif %}

    {% if messages %}
	<ul class="messages">
        {% for message in messages %}
			<li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
		{% endfor %}
	</ul>
    {% endif %}
    <form class="box"  method="POST">
        {% csrf_token %}
        {{ req }}
        <h1>Login</h1>
        <input type="email" id="id_email" name="username" placeholder="Email address">
        <input type="password" name="password" id="id_password" placeholder="Password">
        <input type="submit" name="" value="Login">
    </form>
</body>

</html>